<div *ngIf="manager" class="container">
  <div class="title">
    <b>LIST OF REGISTERED USER</b>
  </div>
  <br>
  <ag-grid-angular
    style="width: 1200px; height: 500px;"
    class="ag-theme-balham"
    [rowData]="rowData"
    [columnDefs]="columnDefs"
    [suppressMenuHide]="true"
>
</ag-grid-angular>
</div>
<app-profile *ngIf="user"></app-profile>
