<div class="container">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group ">
        <label for="firstname"><b style="font-weight: 900;">First Name</b></label>
        <input type="text" placeholder="Firstname" formControlName="firstname" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstname.errors }" />
        <div *ngIf="submitted && f.firstname.errors" class="invalid-feedback">
            <div *ngIf="f.firstname.errors.required">First Name is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="lastname"><b style="font-weight: 900;">Last Name</b></label>
        <input type="text" placeholder="Lastname" formControlName="lastname" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastname.errors }" />
        <div *ngIf="submitted && f.lastname.errors" class="invalid-feedback">
            <div *ngIf="f.lastname.errors.required">Last Name is required</div>
        </div>
    </div>
    <div class="form-group">
      <h5 for="gender" class="mb-3">Gender</h5>
      <div class="d-block my-3">

        <div class="custom-control custom-radio">
          <input id="male" type="radio" class="custom-control-input" value="M" name="gender" formControlName="gender" [ngClass]="{ 'is-invalid': submitted && f.gender.errors }">
          <label class="custom-control-label" for="male">Male</label>
        </div>

        <div class="custom-control custom-radio">
          <input id="female" type="radio" class="custom-control-input" value="F" name="gender" formControlName="gender" [ngClass]="{ 'is-invalid': submitted && f.gender.errors }">
          <label class="custom-control-label" for="female">Female</label>
        </div>


        <div class="custom-control custom-radio">
          <input id="other" type="radio" class="custom-control-input" value="O" name="gender" formControlName="gender" [ngClass]="{ 'is-invalid': submitted && f.gender.errors }">
          <label class="custom-control-label" for="other">Others</label>
        </div>
      </div>
  </div>

    <div class="form-group">
        <label for="email"><b style="font-weight: 900;">Email</b></label>
        <input type="text" placeholder="Email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">Email is required</div>
        </div>
    </div>
    <div class="form-group">
      <label for="mobileNumber"><b style="font-weight: 900;">Mobile Number</b></label>
      <input type="text" placeholder="Mobile Number" formControlName="mobileNumber" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.mobileNumber.errors }" />
      <div *ngIf="submitted && f.mobileNumber.errors" class="invalid-feedback">
          <div *ngIf="f.mobileNumber.errors.required">Mobile number is required</div>
      </div>
  </div>
  <div class="form-group">
    <label for="areaOfInterest"><b style="font-weight: 900;">Area Of Interest</b></label>
      <ng-multiselect-dropdown
      [placeholder]="'Select area of interest'"
      [data]="data"
      [settings]="settings"
      id="areaOfInterest"
      name="areaOfInterest"
      formControlName="areaOfInterest"
      class="form-control"
      [ngClass]="{ 'is-invalid': submitted && f.firstname.errors }"
      >
      </ng-multiselect-dropdown>
    <div *ngIf="submitted && f.areaOfInterest.errors" class="invalid-feedback">
        <div *ngIf="f.areaOfInterest.errors.required">Area of interest is required</div>
    </div>
</div>
    <div class="form-group">
        <label for="password"><b style="font-weight: 900;">Password</b></label>
        <input type="password" placeholder="Password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
            <div *ngIf="f.password.errors.minlength">Password must be at least 8 characters</div>
        </div>
    </div>
    <div class="form-group">
      <label for="cpassword"><b style="font-weight: 900;">Confirm Pasword</b></label>
      <input type="password" placeholder="Confirm Password" formControlName="cpassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.cpassword.errors }" />
      <div *ngIf="submitted && f.cpassword.errors" class="invalid-feedback">
          <div *ngIf="f.cpassword.errors.required">Confirm Password is required</div>
          <div *ngIf="f.cpassword.errors.minlength">Confirm Password must be at least 8 characters</div>
      </div>
  </div>


    <div class="form-group">
        <button class="btn btn-primary">Register</button>
        <a [routerLink]="['/home']" class="btn btn-link">Cancel</a>
    </div>
  </form>
</div>
