<mat-toolbar>
  <button type="button" routerLink="/home" class="btn button-margin">Home</button>
  <button type="button" *ngIf="!loggedin()" routerLink="/register" class="btn button-margin">Register</button>
  <button type="button"  *ngIf="!loggedin()" routerLink="/login" class="btn button-margin">Login</button>
  <button type="button" *ngIf="loggedin()" (click)="logout()" class="btn button-margin">Logout</button>
</mat-toolbar>
<router-outlet></router-outlet>

