<div class="container">
	<div style="text-align:center">
		<h2><b>PROFILE</b></h2>
	</div>
	<div class="row">
		<div class="column">
			<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTOc9VDs02ZrmIC7pS3WzBTvXl8UrI3jwAOVQ&usqp=CAU"  class="center">
    </div>
    <div class = "column">
      <div class="row">
				<label><b>First Name : </b></label>
        <label class="space">{{user.firstname}}</label>
      </div>
      <div class="row">
        <label><b>Last Name : </b></label>
				<label class="space">{{user.lastname}}</label>
      </div>
			<div class="row">
				<label><b>Gender : </b></label>
        <label class="space">{{user.gender}}</label>
      </div>
      <div class="row">
        <label><b>Email : </b></label>
				<label class="space">{{user.email}}</label>
      </div>
      <div class="row">
				<label><b>Mobile Number : </b></label>
        <label class="space">{{user.mobileNumber}}</label>
      </div>
      <div class="row">
        <label><b>Area of interest : </b></label>
				<label class="space">{{user.areaOfInterest}}</label>
			</div>
    </div>
		</div>
	</div>
